.game-board-cell {
  display: block;
  flex-grow: 1;
  position: relative;
  border: 0.4em solid rgba(var(--text-color-rgb), 0.25);
}
.game-board-cell[role=button] {
  cursor: pointer;
}

.game-board-cell:first-child {
  border-left-color: transparent;
}
.game-board-cell:last-child {
  border-right-color: transparent;
}

.game-board-row:first-child .game-board-cell {
  border-top-color: transparent;
}
.game-board-row:last-child .game-board-cell {
  border-bottom-color: transparent;
}

.game-board-cell-next-player {
  position: absolute;
  opacity: 0;
  transition: opacity 100ms;
  --color: var(--text-color) !important;
}
.game-board-cell:hover .game-board-cell-next-player {
  opacity: 0.1;
}