.game-player {
  display: inline-block;
  position: relative;
  --line-size: 1em;
}
.game-player .game-player-ratio-helper {
  width: 100%;
  padding-bottom: 100%;
}

.game-player.player-x::before,
.game-player.player-x::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: var(--line-size);
  border-radius: 9999px;
  background-color: #f00;
  transform-origin: center;
}
.game-player.player-x::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.game-player.player-x::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.game-player.player-o::before {
  content: '';
  position: absolute;
  
  top: 50%;
  left: 50%;
  width: 70%;
  height: 70%;
  border-radius: 50%;
  box-shadow: inset 0 0 0 var(--line-size) #00f;
  transform: translate(-50%, -50%);
}
