.game-board, .game-board-row {
  display: flex;
}
.game-board {
  --cell-gap: 0.8em;
  flex-direction: column;
  padding: calc(var(--cell-gap) / 2);
}
.game-board-row {
  flex-direction: row;
  flex-grow: 1;
}

table.game-info {
  border: none;
  width: 100%;
  text-align: left;
  vertical-align: baseline;
  margin-bottom: 1rem;
  line-height: 1;
}
table.game-info th {
  width: 30%;
  min-width: 120px;
}